body {
  font-family: 'Varela Round', sans-serif ;
  color: #625772;
  background-color: #FEFAEC;
  /* font-family: 'Reenie Beanie', cursive; */
}


h1 {
  margin: 0 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 900;
}

h2 {
  color: #A9EEE6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
  font-size: 40px;
}

h3 {
  color: #A9EEE6;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.bottom-container {
  text-align: center;
  padding-top: 20px;
}

.colored-section {
  background-color: #625772;
  color:#FEFAEC;
  padding: 100px 100px;
}

.details {
  text-align: center;
}

.fas {
  color: #A9EEE6;
}

.greeting{
  color: #FEFAEC;
  text-align: right;
  /* background-color: #625772; */
  font-size: 130px;
  padding: 150px 100px 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 0.8;
  font-weight: 900;
}

.location {
  font-weight: bolder;
}

.navbar {
  background-color: #FEFAEC;
  padding: 0 100px 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: #625772 !important;
  font-size: 1rem;
  text-align: center;
}

.nav-link:hover {
  background-color: #625772;
  color: #FEFAEC !important;
}

/* .navbar-toggler {
  float: right;
} */
/* Need to fix this for the toggler */
.navbar-toggler-icon{
  background-color: #625772 !important;
}

.skill-type h3 {
  text-align: center;
  padding: 20px 0;
}

.skill-name {
  text-align: left;
}

.skill-type {
  text-align: right;
}

.title {
  background-color: #FEFAEC;
  color: #625772;
  padding: 20px 100px 0;
}

.white-section {
  color: #625772;
  background-color: #FEFAEC;
  padding: 100px 100px;
}

.white-section h2,
.white-section h3,
.white-section h4 {
  color: #625772;
}

/* .experience h3 {
  color: #625772;
} */

/* Images */

.jumbotron {
  background-image: url('../img/background02.png');
  background-size: cover;
  /* height: 764px; */
  height: 790px;
}

.my-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
